<section class="header">

    <div class="logo">


    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">Home
                <a href="#">

                </a>
            </li>
            <li class="nav__item">About us
                <a href="#">

                </a>
            </li>
            <li class="nav__item">How it's made?
                <a href="#">

                </a>
            </li>
            <li class="nav__item">Our products
                <a href="#">

                </a>
            </li>
            <li class="nav__item">Contact
                <a href="#">

                </a>
            </li>
        </ul>
    </nav>

    <button class="buyBtn" type="button">Buy now
    </button>

    <!-- burger button -->
    <button type="button" class="menu-burger" data-menu-open>

    </button>

    </div>

    <div class="left-side">
        <h1 class="header__title">ICE CREAM MADE WITH <span class="text-decoration">PASSION</span></h1>
        <ul class="header__list">
            <li class="header__item"><button class="productsBtn">Products</button></li>
            <li class="header__item"><button class="howItsMadeBtn">How it's made?</button></li>
        </ul>

        <ul class="description__list">
            <li class="description__item">
            </li>
            <li class="description__item"><p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p></li>
        </ul>

        <button class="readMore" type="button">
            <svg>
             
            </svg>
        </button>
    </div>

    <div class="right-side">
        <ul>
            <li><span>16</span> cafes</li>
            <li><span>23</span> food trucks</li>
        </ul>

        <img>

</section>