@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        background-color: #FFB8CA;
        color: var(--mainFontColor);
        background-image: url();
        background-repeat: no-repeat;
        background-position: center right;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    .header {
        background-image: url();
    }
}

// @media screen and (min-width: 768px) {
//     .header {
//         background-color: #FFB8CA;
//         color: var(--mainFontColor);
//         background-image: url();

//     @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//             background-image: url();
//         }
//     }
// }

// @media screen and (min-width: 1024px) {
//     .header__container {
//         background-color: #FFB8CA;
//         color: var(--mainFontColor);
//         background-image: url();

//         @media (min-device-pixel-ratio: 2),
//         (min-resolution: 192dpi),
//         (min-resolution: 2dppx) {
//             background-image: url();
//         }
//     }
// }


